
# add environment files to .gitignore
.env

# add certificates to .gitignore
certificate/

# Ignore log files
*.log

# Ignore build output directories
dist/
build/

# Ignore IDE specific files
.vscode/
__pycache__/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln